.projectTitle {
    text-align: center;
    padding: 50px;
}

.projectPicture {
    width: 50%;
    height: auto;
}

.project {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.projectText {
    width: 300px;
    padding-left: 100px;
}

.right {
    width: 300px;
    padding-right: 100px;
    padding-left: 0px;
}

.projectText h1 {
    font-size: 50px;
}

.projectText p {
    line-height: 2;
    font-weight: 300;
}