.title {
    background-color: #f5f3ed;
}

.coverPicture {
    width: 518px;
    height: 389px;
    border-radius: 5px;
}

.arrowDown {
    background-color: transparent;
}

.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.intro h2 {
    width: 250px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;

}

.main {
    padding-left: 50px;
}

.main h1 {
    padding-left: 0px;
    font-size: 60px;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.bottom p {
    font-size: 60px;
    font-weight: 700;
}

.quote {
    width: 300px;
}

.name {
    font-size: 60px;
}

.bottomRightArrow {
    font-size: 20px;
}